/* Tailbuds Private LimitedProject-WebsiteAuthors: AK Hanish <akhanish7@gmail.com>, Revanth Nemani <raynemani@gmail.com> */
body,
html {
  margin: 0;
  overflow: hidden;
  height: 100%; /* The image used */
  background-image: url('./assets/img/Background.svg'); /* Full height */
  height: 100%; /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__logo {
  margin-top: 1%;
  margin-left: 20px;
  height: 7.5%;
  width: 7.5%;
}

.header__end {
  margin-left: 20px;
  height: 1%;
  width: 95%;
}
.content__heading {
  margin-top: 12%;
  margin-left: 40px;
  height: auto;
  width: 35%;
}
.content__message {
  margin-top: 10px;
  margin-left: 60px;
  height: auto;
  width: 30%;
}
.footer__content {
  width: 30%;
  margin-right: 20px;
  position: absolute;
  right: 0px;
  bottom: 3px;
}

@media only screen and (max-width: 768px),
  only screen and (max-device-width: 768px) {
  .tagline__content {
    width: 35%;
    margin-right: 15px;
    position: absolute;
    right: 0px;
    bottom: 3px;
  }
  .logo img {
    margin-left: 20px;
    margin-top: 2%;
    height: auto;
    width: 9%;
  }
  .welcome img {
    margin-right: 10px;
    height: 30%;
    width: 50%;
  }
  .content img {
    margin-right: 10px;
    height: 30%;
    width: 30%;
  }
  .header__end img {
    margin-left: 20px;
    margin-right: 20px;
    height: 3%;
    width: 80%;
  }
}

@media only screen and (max-width: 480px),
  only screen and (max-device-width: 480px) {
  .tagline__content {
    width: 60%;
    margin-right: 10px;
    position: absolute;
    right: 0px;
    bottom: 3px;
  }
  .logo img {
    margin-left: 20px;
    margin-top: 2%;
    height: auto;
    width: 20%;
  }
  .welcome img {
    margin-right: 10px;
    height: 30%;
    width: 50%;
  }
  .content img {
    margin-right: 10px;
    height: 30%;
    width: 30%;
  }
  .header__end img {
    margin-left: 20px;
    margin-right: 20px;
    height: auto;
    width: auto;
  }
}
